<!DOCTYPE html>
<html lang ="ru">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <title>RichFood</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <img style="width: 1920px; height: 970px; left: 0px; top: 0px; position: absolute" src="https://s3-alpha-sig.figma.com/img/576a/ac85/aa11518b6bd79f151abcbb334e905504?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gcahhbT2z1lfpNhIr4rvYlLVP7Iis-J6aBW8f~xAEFjccumFOnLS7g7SCe1gLIl7UYTu~ht89hjakirAorAzh9qq6rssPqtfBp1bH4lHUj9Urqw6H1eesyB2~jnZKdWsmQJUtk19Y6ktkl61UnMX3T4kpJbvgyX0bELaGS5j3Z5y-VeHvh00SWA2Y3wB3EXKMX-ImeAib5CNV74e7v~adznILlTFTSB8I~SWhtAfyoS0wR1ExSTCssB54OQPYCxHmASqUmF9-YOV2Nx2G~SBwQUqxEu~xjrpJUqOZU7Zqxiai6uB8wMPrASX6rzU11BxMQL5LJWa9vXeZ-oPjfmd2g__" />
        <div style="width: 337px; height: 47px; left: 120px; top: 30px; position: absolute; color: white; font-size: 41px; font-family: Inspiration; font-weight: 400; word-wrap: break-word">RichFood</div>
        <div style="width: 1084px; left: 120px; top: 285px; position: absolute; color: black; font-size: 61px; font-family: Playfair Display; font-weight: 400; line-height: 70px; letter-spacing: 0.61px; word-wrap: break-word"><br/>Индивидуальные планы питания<br/> от RichFood</div>
        <div style="width: 462px; height: 72px; left: 120px; top: 554px; position: absolute; color: black; font-size: 27px; font-family: Montserrat; font-weight: 400; line-height: 37px; letter-spacing: 0.27px; word-wrap: break-word">Ваш путь к здоровью и идеальной форме с удобными решениями</div>
        <div style="width: 280px; height: 60px; left: 123px; top: 751px; position: absolute">
            <a class="button" href="http://127.0.0.1:8000/page">
            <div style="width: 280px; height: 60px; left: 0px; top: 0px; position: absolute; background: #FFFB0E; border-radius: 30px"></div>
            <div style="left: 56px; top: 9px; position: absolute; text-align: center; color: #280000; font-size: 24px; font-family: Montserrat; font-weight: 400; line-height: 37px; letter-spacing: 0.24px; word-wrap: break-word">попробовать</div>
        </div>
        </a>
        <a class="button" href="http://127.0.0.1:8000/pagess">
        <div style="width: 280px; height: 60px; left: 1061px; top: 1878px; position: absolute">
            <div style="width: 280px; height: 60px; left: 0px; top: 0px; position: absolute; background: rgba(239.69, 226.10, 226.10, 0); border-radius: 30px; border: 2px #FBFF00 solid"></div>
            <div style="left: 85px; top: 9px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Montserrat; font-weight: 400; line-height: 37px; letter-spacing: 0.24px; word-wrap: break-word">перейти</div>
        </div>
        </a>
        <a class="button" href="http://127.0.0.1:8000/page1">
        <div style="width: 280px; height: 60px; left: 1201px; top: 2533px; position: absolute">
            <div style="width: 280px; height: 60px; left: 0px; top: 0px; position: absolute; background: rgba(239.69, 226.10, 226.10, 0); border-radius: 30px; border: 2px #FBFF00 solid"></div>
            <div style="left: 85px; top: 9px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Montserrat; font-weight: 400; line-height: 37px; letter-spacing: 0.24px; word-wrap: break-word">перейти</div>
        </div>
        </a>
        <a class="button" href="http://127.0.0.1:8000/pagep">
        <div style="width: 280px; height: 60px; left: 1061px; top: 3219px; position: absolute">
            <div style="width: 280px; height: 60px; left: 0px; top: 0px; position: absolute; background: rgba(239.69, 226.10, 226.10, 0); border-radius: 30px; border: 2px #FBFF00 solid"></div>
            <div style="left: 85px; top: 9px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Montserrat; font-weight: 400; line-height: 37px; letter-spacing: 0.24px; word-wrap: break-word">перейти</div>
        </div>
        </a>
        <div style="width: 50px; height: 35px; left: 1694px; top: 81px; position: absolute">
            <div style="width: 50px; height: 5px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <div style="width: 50px; height: 5px; left: 0px; top: 30px; position: absolute; background: white"></div>
            <div style="width: 50px; height: 5px; left: 0px; top: 15px; position: absolute; background: white"></div>
        </div>
        <div style="width: 1260px; height: 320px; left: 330px; top: 1040px; position: absolute; text-align: center; color: black; font-size: 100px; font-family: Mplus 1p Bold; font-weight: 700; line-height: 100px; letter-spacing: 1px; word-wrap: break-word">Питание, созданное специально для ваших нужд</div>
        <img style="width: 670px; height: 450px; left: 123px; top: 2769px; position: absolute; border-radius: 55px" src="https://s3-alpha-sig.figma.com/img/56b3/86ab/d83317a3e5bec3e544617497355ffb3b?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c~3rgHLz3d5mlooFLej0eUWWt8EhrEJ3rrUysAIWfWQ8VCsP0STPX0HiiD3LgtH16bgB16uE4hYPy0rv0dB~itr6S1-8tApL2iQUK-l7yhLGZ8z8qSwupOgLfuyKJyWJLTBI9zr5BMGKSt7rWNb6fXowngVFHtu~EAWhECX4AVC-xL4hOMD6XQpp9MiLyFtGEdTyODv8c7vYYOk8K5VL~g6BXg5hksBNu~omq-o4GZbeU7vqUP5HyEozrgU1hbpXAiAm7HL0KMfpAQaDIQFJNuJfDhceqk8xtzjqTghT1EaG1gxqlGqIRJ~lifJZarq91RLXcKng-BjBUNn2fOfynQ__" />
        <div style="width: 670px; height: 299px; left: 1034px; top: 2864px; position: absolute; color: black; font-size: 44px; font-family: Montserrat; font-weight: 700; line-height: 100px; letter-spacing: 0.44px; word-wrap: break-word">-Расскажем, какие продукты надо есть для успешной сушки</div>
        <div style="left: 1033px; top: 2737px; position: absolute; color: black; font-size: 71px; font-family: Montserrat; font-weight: 700; line-height: 100px; letter-spacing: 0.71px; word-wrap: break-word">сушка</div>
        <div style="width: 1386px; height: 450px; left: 262px; top: 2083px; position: absolute">
            <img style="width: 670px; height: 450px; left: 0px; top: 0px; position: absolute; border-radius: 55px" src="https://s3-alpha-sig.figma.com/img/eb77/d00c/e3a3aea17ca081c75e8b649b2b5492d9?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DpAzKTpJfAkaHhdRIkGvmwOaqs2Yw0pv9NPjrT3SDqAQ5sr-MYeHDMlzePtrn2rznRFde5ktP9L9CxtAKfJ217Gjvz2MliLr26micwVg0Ls9vMCH4oHOO5B1-XA~2bLOaP4jZoSbpy4b9901US8esWHNH5ToKPChoBa0oEzgsloYZEVda01FR7wO2FFb0JpbTZ4o9xw7cdqRVQt3~uJrYMCCbk31DqGAlHfviEbsZ7QoltKYzK~cign9-YOI0-YGXvdAa-gEpZUfxnDY7CzFlms9sISWE2k~8aL1Up~nHUMS9m0FpqxKkGfhKZ2ffG3eqX65B13QO9QuqBa6LEwH8A__"/>
            <div style="width: 643px; height: 319px; left: 743px; top: 97px; position: absolute; color: black; font-size: 44px; font-family: Montserrat; font-weight: 700; line-height: 100px; letter-spacing: 0.44px; word-wrap: break-word">-Мы поможем составить <br/>план питания для набора<br/> мышечной массы</div>
            <div style="left: 795px; top: 0px; position: absolute; color: black; font-size: 71px; font-family: Montserrat; font-weight: 700; line-height: 100px; letter-spacing: 0.71px; word-wrap: break-word">набор массы</div>
        </div>
        <div style="width: 1920px; height: 2121px; left: 2399px; top: 178px; position: absolute; background: white"></div>
        <div style="width: 788px; height: 60px; left: 206px; top: 3622px; position: absolute">
            <div style="width: 220px; height: 60px; left: 0px; top: 0px; position: absolute; color: black; font-size: 50px; font-family: Inspiration; font-weight: 400; word-wrap: break-word">RichFood</div>
            <div style="left: 616px; top: 11px; position: absolute; color: #747381; font-size: 15px; font-family: Inspiration; font-weight: 400; word-wrap: break-word">Согласие на обработку <br/>персональных данных</div>
            <div style="left: 343px; top: 11px; position: absolute; color: #747381; font-size: 15px; font-family: Inspiration; font-weight: 400; word-wrap: break-word">Политика<br/>конфидециальности</div>
        </div>
        <div style="width: 1920px; height: 324px; left: 0px; top: 3484px; position: absolute; background: rgba(202.26, 202.72, 205.69, 0.40)"></div>
        <div style="width: 250px; height: 50px; left: 1350px; top: 3621px; position: absolute">
            <div style="width: 150px; height: 50px; left: 0px; top: 0px; position: absolute">
                <img style="width: 50px; height: 50px; left: 100px; top: 0px; position: absolute" src="https://s3-alpha-sig.figma.com/img/7fad/9773/3cef6cadac1b82540f04b9ccaa5e4f7e?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DG~Ie9-APcucvzDHTxfIeurcCj81rBhxsVAZ2qm8hBfUQgBnR9uz-upF8EklE~DbUuSGdIswOI~nS~hPCjNhuxJDaPIzvxuRFwjoauEdbsybEs66yH4QPBqJUFjDJRb-yq1RjDm6naH0FyxrTHs4ZBnvfFUO0mY-3-8D55NgUFZBHGJNy7o9qmtfkFOBRzgPT5S0ri3NMLE9zfKHT7Ab-BHUAznk8UPjy2kdAWeLdAVOrKcphrk5UbVomxrMMjz4e8w55KpTILDrQAeQ9qYGgCzGBt4m~tGnJpfXV~9wiqfZocoHwqrklEdYWGIpc~x3Wlyg1BHc7bQ8kKKSvshZrg__" />
                <img style="width: 50px; height: 50px; left: 0px; top: 0px; position: absolute" src="https://s3-alpha-sig.figma.com/img/d2c3/a96b/2109ab12421d4ddc55f79bffac6a380f?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=m4s3D56SJkaXWhm72jYyS8PzqAL2Bg0-Nh6g6-67kKJ1gJKp1t3ocbVWxpWXXAqR7bgapg-QUZj2nhqnV89nCXygBM5ZtJcT6-TGX2bUchBnQneCWRKlcddOPThdd-U~PRi~NNHOJ-br~RLGCEXbZWrw-EYs8o9RhCauT-nuvqG0jO-KpRlNtyXwHAdUitGxMBkcMj4Hmx6cTG5aLMpsTFbkBCVVzuIBijNfdcvRUh8lqLHVy4KgWtUBsGR3rHfTDSwBz1XyPYtD3823iIonEW3vzDhhVRag3riah9JfAUxzZfzS42RZKZay4UumqKc6poFCN3uemb2O4hQxsj-EPQ__" />
            </div>
            <img style="width: 50px; height: 50px; left: 200px; top: 0px; position: absolute" src="https://s3-alpha-sig.figma.com/img/ddcf/020a/f4e90a24eba59c6ae791a2f4531fd722?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=B3ptpBYhAy1FqCkXFjW5ac3TRgEu3Ai6d4uWQt2IlNe-wHuNeUaAdrDfrqku8Ym9Q-ZTud~6TSmijRsgKvZJDuAU47TvHzCGBG4SDnfSMDVxA9LYY7wOsDMINrAyCJ-~IfmRWv4PeyL1E-GL20AF5dzrQe5Z7Tfhiujch6CKwZirrDZOXiSAO9PaQ2AjlGkaOVh~yomHLUlx-tQL0rG2o-At6JhR~99WiMiLju6QEZ9RmmO~asYk8oRSxXfH90prxa24ha6mo~Onv1EUqeiTMN4rk6xKBrSLJP8L3sP4M99QIgxVMVkv-uLRxeDWFN1A~KhwmOlqxsTHgWLZGUXZ7g__" />
        </div>
        <div style="width: 1414px; height: 478px; left: 123px; top: 1400px; position: absolute">
            <div style="width: 670px; height: 200px; left: 744px; top: 100px; position: absolute; color: black; font-size: 44px; font-family: Montserrat; font-weight: 700; line-height: 100px; letter-spacing: 0.44px; word-wrap: break-word">-Наш сайт позволит вам сбросить лишний вес</div>
            <img style="width: 670px; height: 450px; left: 0px; top: 28px; position: absolute; border-radius: 55px" src="https://s3-alpha-sig.figma.com/img/4a49/8454/faffd5ef57ce9a754667e47913cccab9?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OUaidhsNZwT~mqvX1jroh4RoWNkteLdJt~TOCujT1MwDkEDgVPMYcbFPuisX16LgDtDIW~MKjoA687U2SkAoUC1MNej7JKr9QwFxp0ifsqh-0Fw1ZQSwqptdjy5QNEefQlq~PX3-y16x9iqXuC6fQVs8kdklKNrA2I2lO6RAwVmzP-tspLZClbXBvnuz25MI7hMbBCf58XhNav2p3je1-6KukEm8-L8wzDfCwCqPFYpQUog4zxs~bJIfSqY1W6HJtNvbK84JL-zfIKSwu8SOA78oeIVTOHCNp7Tg8iWmfwX6dgFZU3phxPeqNYdcVYHsifMXAqaW3F5igGIF-7SL5Q__" />
            <div style="left: 747px; top: 0px; position: absolute; color: black; font-size: 71px; font-family: Montserrat; font-weight: 700; line-height: 100px; letter-spacing: 0.71px; word-wrap: break-word">похудение</div>
        </div>
    </div>
</body>
</html>