<!DOCTYPE html>
<html lang ="ru">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <title>RichFood</title>
</head>
<body>
    
    

    <div style="width: 100%; height: 100%; position: relative; background: white">
        <img style="width: 1742.23px; height: 3420.98px; left: 23px; top: 122px; position: absolute" src="https://s3-alpha-sig.figma.com/img/cbd4/2e2f/a1435b8b6a8ac862e2533099786bbd1e?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mrwA1uQkx53UvK0PACbmgg6E3Ed2fEcbW7QJJTCAMEytCPz6odOd-kg5iwInvOnKseSF4j4ivaH1o9NofUwrDxRTqudin3k0tB8gudfziPZh7N1fzPS3kCumvh47zgEkpxKwdtzjgjmLS3YjzP2FFHzefZCVtZ0qY9lEOECDBl0P2F1Pwq1RGBk6E2xaTLgRhqlqK91Ndug4wkbgo~Q8v4J5feAWkaVYc2K-BxbkEKTNqF1eMtNUUNcdL1Aq0U~Vewqhu315SzPqxQwL~J6yvQp4vDEHSNJsAA1mVfGGiD-ClyWN-WRw31GannP94bP2kodgnAc-G1XC6YgSl3s8Gg__" />
        <div style="left: 183px; top: 138px; position: absolute; text-align: center; color: black; font-size: 100px; font-family: Montserrat; font-weight: 400; line-height: 110px; letter-spacing: 1px; word-wrap: break-word">Пожалуйста, введите данные<br/> о себе</div>
        <div style="height: 192px; left: 110px; top: 448px; position: absolute">
            <div style="width: 1372px; height: 72px; left: 0px; top: 0px; position: absolute"><span style="color: black; font-size: 83px; font-family: Montaga; font-weight: 400; line-height: 30px; letter-spacing: 0.83px; word-wrap: break-word">1</span><span style="color: black; font-size: 83px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.83px; word-wrap: break-word">)</span><span style="color: black; font-size: 52px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.52px; word-wrap: break-word">Сколько Вам лет?</span></div>
            <div style="width: 1540px; height: 100px; left: 0px; top: 92px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 1540px; height: 100px; background: #D9D9D9; border-radius: 50px"></div>
            </div>
        </div>

        <img style="width: 84px; height: 83px; left: 1512px; top: 2489px; position: absolute" src="https://s3-alpha-sig.figma.com/img/148b/213f/b1b4eb79482af4492285bbe301853b73?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=S1YJJEURRV0mMknmVeN8CK1eqJnu1ih4VFDc8PsTyDdkfldNw0zkzQUM7ZMf6cOjFRy-amxzFO1Lkm2EG1V8e91~-c8fYEWYWLmR5xnjYnKzApr0mG1vRXVq3IVl3AWnHF2W33YLniNhngxtw12QNuS7GoSZC3pFEVm7dnQvQ0Ii8L7RGQJAwCiu1GUtGPledv3WLD1C3XF2TITtXfYCuTjVrOrhWr0jKFjPSHTOa26~nZMjMOKxJucSWCwJw2mTzP6yXLUV9nghS6Ey6B5TSKJIqWtiGYgvpJAJ0y4EDSjT6BEakgda6uM0zpDws27mhyD1gubIAxIay3Bfs-lmTA__" />
    <div style="width: 1400px; height: 141px; left: 110px; top: 2332px; position: absolute"><span style="color: black; font-size: 85px; font-family: Montserrat; font-weight: 400; line-height: 65px; letter-spacing: 0.85px; word-wrap: break-word">6)</span><span style="color: black; font-size: 52px; font-family: Montserrat; font-weight: 400; line-height: 65px; letter-spacing: 0.52px; word-wrap: break-word">Как часто вы занимаетесь физической активностью?</span></div>
    <div style="height: 192px; left: 110px; top: 2713px; position: absolute">
        <div style="width: 1372px; height: 72px; left: 0px; top: 0px; position: absolute"><span style="color: black; font-size: 85px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.85px; word-wrap: break-word">7)</span><span style="color: black; font-size: 52px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.52px; word-wrap: break-word">На сколько дней желаете получить план?</span></div>
        <div style="width: 1540px; height: 100px; left: 0px; top: 92px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 1540px; height: 100px; background: #D9D9D9; border-radius: 50px"></div>
        </div>
    </div>
</div>

        <div style="height: 192px; left: 110px; top: 1082px; position: absolute">
            <div style="width: 1372px; height: 72px; left: 0px; top: 0px; position: absolute"><span style="color: black; font-size: 85px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.85px; word-wrap: break-word">3</span><span style="color: black; font-size: 83px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.83px; word-wrap: break-word">)</span><span style="color: black; font-size: 52px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.52px; word-wrap: break-word">Сколько Вы весите?</span></div>
            <div style="width: 1540px; height: 100px; left: 0px; top: 92px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 1540px; height: 100px; background: #D9D9D9; border-radius: 50px"></div>
            </div>
        </div>
        <div style="height: 192px; left: 110px; top: 1384px; position: absolute">
            <div style="width: 1372px; height: 72px; left: 0px; top: 0px; position: absolute"><span style="color: black; font-size: 85px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.85px; word-wrap: break-word">4</span><span style="color: black; font-size: 83px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.83px; word-wrap: break-word">)</span><span style="color: black; font-size: 52px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.52px; word-wrap: break-word">Какой у вас рост?(в см)<br/></span></div>
            <div style="width: 1540px; height: 100px; left: 0px; top: 92px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 1540px; height: 100px; background: #D9D9D9; border-radius: 50px"></div>
            </div>
        </div>
        <div style="width: 1372px; height: 222px; left: 110px; top: 750px; position: absolute">
            <div style="width: 1372px; height: 72px; left: 0px; top: 0px; position: absolute"><span style="color: black; font-size: 85px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.85px; word-wrap: break-word">2</span><span style="color: black; font-size: 83px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.83px; word-wrap: break-word">)</span><span style="color: black; font-size: 52px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.52px; word-wrap: break-word">Выберите свой пол:</span></div>
            <div style="width: 100px; height: 100px; left: 36px; top: 122px; position: absolute; background: #D9D9D9; border: 1px black solid"></div>
            <div style="width: 100px; height: 100px; left: 136px; top: 122px; position: absolute; background: #D9D9D9; border: 1px black solid"></div>
            <div style="left: 46px; top: 122px; position: absolute; color: black; font-size: 100px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 1px; word-wrap: break-word"><br/>м</div>
            <div style="width: 80px; height: 60px; left: 146px; top: 152px; position: absolute; color: black; font-size: 100px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 1px; word-wrap: break-word">ж</div>
        </div>
        <div style="width: 1372px; height: 72px; left: 110px; top: 1686px; position: absolute"><span style="color: black; font-size: 85px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.85px; word-wrap: break-word">5</span><span style="color: black; font-size: 83px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.83px; word-wrap: break-word">)</span><span style="color: black; font-size: 52px; font-family: Montserrat; font-weight: 400; line-height: 30px; letter-spacing: 0.52px; word-wrap: break-word">Какой у Вас тип телосложения?</span></div>
        <div style="width: 1000px; height: 267px; left: 460px; top: 3051px; position: absolute">

            <a class="button" href="http://127.0.0.1:8000/pagepp">    
            <div style="width: 1000px; height: 164.19px; left: 0px; top: 102.81px; position: absolute">
                <div style="width: 1000px; height: 164.19px; left: 0px; top: 0px; position: absolute; background: #FFFB0E; border-radius: 30px"></div>
                <div style="width: 596.43px; height: 101.25px; left: 200px; top: 58.18px; position: absolute; text-align: center; color: #280000; font-size: 50px; font-family: Montserrat; font-weight: 400; line-height: 37px; letter-spacing: 7px; word-wrap: break-word">Продолжить</div>
            </div>
            </a>

            <div style="width: 892.97px; height: 65px; left: 50.03px; top: 0px; position: absolute">
                <div style="width: 65px; height: 65px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                <div style="width: 802px; height: 37px; left: 90.97px; top: 13.81px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: Montserrat; font-weight: 400; line-height: 37px; letter-spacing: 3.78px; word-wrap: break-word">Согласие на обработку персональных данных</div>
            </div>
        </div>
        <img style="width: 836px; height: 400px; left: 174px; top: 1822px; position: absolute" src="https://s3-alpha-sig.figma.com/img/c3be/dca4/11789d2841834e9d19ce59aba2a5865a?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QZsE~IfIq8yKDQw-Lw8-YLH1yXAiPZBhbl4IVMZLtlTACSMNwqI1wEPyP8UPDmVU~naKlNvzc-~t1gOM4Xb~YIRnZDrZuIFtBCKbtABiRY42nujhm8jtvfQoyDafQCai-5CNyhKV4fEaCZM3iubrRyvE7l07I0LqocN4lYcW0BcePqZmGT4HrYTZ9jayx1IjZGWh-PO3RBc0iyaDEntJzrmBOsw2LdUJtWl0w8pEe9Lcxnr0t1p77Hmbrds7gZ3OVurNh~OUcLMon9I-KLWt8fWMFZSPS4U2AEsuHLIiW0dagkxdTEJbmhK--roZgj5G0uXbqi7B085otcCnj4vZsg__" />
        <div style="width: 1530px; height: 100px; left: 110px; top: 2498px; position: absolute; background: white; border: 0px black solid">
            
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
<style>
.dropbtn {
  background-color:rgb(255, 255, 255);
  color: white;
  padding: 50px;
  font-size: 50px;
  height: 109px;
  width: 1530px;
  top: 0px;
  left: 0px
  border: 10px black solid;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color:rgb(255, 255, 255);
  min-width: 1530px;
  box-shadow: 0px 8px 16px 0px rgba(53, 175, 22, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 20px 40px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:rgb(211, 217, 212);}

</style>


<div class="dropdown">
    <div style="width 1530px; font-size: 52px; height: 109px; left: 0px; top: 0px; position:sticky;border: 7px black solid;">
  <button class="dropbtn"></button>
  <div class="dropdown-content">
    <a href="#">Нет физической активности</a>
    <a href="#">Небольшая физическая активность</a>
    <a href="#">Физическая активность несколько раз в неделю</a>
    <a href="#">Ежедневная физическая активность</a>
    <a href="#">Физическая активность несколько раз в день</a>
  </div>
</div>

</head>
</body>
</html>