<html lang ="ru">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <title>RichFoodRegister</title>
</head>
<body>
    
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <div style="width: 1123px; height: 2201px; left: 427px; top: 120px; position: absolute; background: rgba(255, 255, 255, 0); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 25px"></div>
        <img style="width: 5000px; height: 2500px; left: 0px; top: 7px; position: absolute" src="https://s3-alpha-sig.figma.com/img/3081/baed/5828398ad0dd4caa9a26ee2aa615d575?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QwEAUn055Htj079e7WcJSYJxbwMN-civGoCGdmJZdV2qQJkGBbeUsghLlHS7PW5yoLTng4Y2lEjuffRx9gbU9sX~egcHEdmPJmtNM4AGt6Mk~J7-umWOdMbrXDcA6qufN1lvdXjmRC-RyWDBzj89DhAgn61WDgGRreHwRLRdlKc-8PBSL23sIxaJWvit1FEILxhUT4-~d41rTJb1rNLi0aSYTVSpWrW8eJKALxjbOJnnoHTARZ5ItOrGOlUvJZN8We2NcR0AvK-hSKgEdQaY8pvTk9DhKqZ90EC8ei-C0mDwZEdWPeXKEdEw3ZLYSz49C2B11sLieYSyUwAZco5jBA__" />
        <img src="https://s3-alpha-sig.figma.com/img/0251/e586/b5d4dc16c816dd6c59c7ced341d2174f?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mjivoISL-SBekjgjNVFuMyQwFMa3yQh71BYMFjNqARqDshNkaoYebUnfAcwX2SEIdYT6u9Rs~1o2gzG4DVxHN04BUeb~jF4Lr5JQ0WxMEtDBFhxJwZlIWwYXEcgj~2Y5DUf9yWHhxz67XbPaPv8SrWxuvxMLCtVZbwD9JKbKMTkTydIQ~K7ZdMl~qzNtP0J~2lWd~LGpBn14xKmiKTZvusSjKuC-yGsmJSL9mfyeavZYe9kf133ld2nGnDzaiDSFvuYf-x5rqToTh4pcTCQFcSZQp2~66~6v5uReoziKgvDqDsLFEy~PCg-nVdn192hzxQSBUp~jR49CWRH~O3b2aQ__" id="image1" onclick="document.getElementById('other-image').style.visibility='visible'" onclick="document.getElementById('other-image').style.visibility"='hidden' style="width: 150px; height: 150px; position:relative;top: -460px ;" />
        
    <img id="other-image" src="https://s3-alpha-sig.figma.com/img/478b/cbff/621444b43e7e4cd54213906e0a4675fc?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TIM16Jnz3XM7EubxkpSU6flXNvbXVsFFlOlsJyaNN3R8ZNBlgb9eNIBZyWPSqaZE938AMwK-~FCzw-4bkQyVVA49gWPxnYBSh1V39Dq5dXaI-2mRDVkGWWOaPgKuRXaYsNwQ0yvYQxLwpBpfm9gzY9a8AcX2ejAPKaOobDNMob-bFQCwv-pC0fj4hwAyitxeAUh-hFuc8G8xm6Tm5xBDz3WYKf5grF7p~p~7e0-0D6omkrqTiq8k4FzvjIQP1lamDcJBtksl-FPMOZ8XWIFf~V6cAvR6NuJ8k0DUguZi6r515eUJuN9GGftpGruPG73BYhqMpitrOoPzLuWJLRujaQ__" onclick="this.style.visibility='hidden';" style="width: 882px; height: 606px; position: relative;top: 60px; right: 80px"/>
        <div style="width: 1123px; height: 2201px; left: 1616px; top: 120px; position: absolute; background: white; border-radius: 75px; overflow: hidden; border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="align-self: stretch; flex: 1 1 0; background: rgba(255, 255, 255, 0); border: 6px black solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; background: rgba(0, 0, 0, 0.06); border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
                <div style="flex: 1 1 0; align-self: stretch; background: rgba(0, 0, 0, 0.06); border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; flex: 1 1 0; background: rgba(255, 255, 255, 0); border: 6px black solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
                <div style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; flex: 1 1 0; background: rgba(255, 255, 255, 0); border: 6px black solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
                <div style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; flex: 1 1 0; background: rgba(255, 255, 255, 0); border: 6px black solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
                <div style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; flex: 1 1 0; background: rgba(255, 255, 255, 0); border: 6px black solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
                <div style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; flex: 1 1 0; background: rgba(255, 255, 255, 0); border: 6px black solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
                <div style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border: 6px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex: 1 1 0"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div>

            </div>
        </div>
    </div>
</body>
</html>